server {
    listen 80;
    server_name {{ nimbus_testnet_domain }};
    location / {
      return 302 https://{{ nimbus_testnet_domain }};
    }
}

server {
    listen 443 ssl;

    server_name {{ nimbus_testnet_domain }};

    ssl_certificate     {{ nimbus_testnet_ssl_crt_path }};
    ssl_certificate_key {{ nimbus_testnet_ssl_key_path }};

    location / {
      root {{ nimbus_testnet_root }};
      autoindex on;
    }
}
